**/.ansible
**/.kube
**/.bitwarden
**/.terraform
**/*.tfstate*
**/*.pem
dist/
.vscode
.pytest_cache
**/node_modules/
.env
*.env

.devenv/
.direnv/
.devenv.flake.nix
.pre-commit-config.yaml

# Build artifacts
*.d.ts
*.js
