# Template for Bitwarden auth token secret
# Generate the actual secret with: ./scripts/create-bw-auth-token.sh
# This will create bw-auth-token.yaml (SOPS-encrypted)

apiVersion: v1
kind: Secret
metadata:
    name: bw-auth-token
type: Opaque
stringData:
    token: YOUR_MACHINE_ACCOUNT_TOKEN_HERE
