key "tsig-key" {
        algorithm hmac-sha256;
        secret "${tsig_key}";
};

acl docker {
    172.23.0.0/16;
    172.24.0.0/16;
    172.25.0.0/16;
};

acl internal {
    ${acl_ips}
};

options {
    forwarders {
        1.1.1.1;
        8.8.8.8;
    };

    allow-query {
        internal;
        docker;
    };
};

zone "${domain}" {
    type master;
    file "/etc/bind/zone.conf";
    update-policy { grant tsig-key subdomain ${domain}. ANY; };
};
