$ORIGIN ${domain}.

$TTL 2d

@       IN      SOA     ns.${domain}. ${email}. (
                        2025050721  ; serial
                        12h         ; refresh
                        15m         ; retry
                        3w          ; expire
                        2h          ; minimum ttl
                        )
                        NS      ns.${domain}.

ns              IN      A       ${nameserver_ip}
