apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: headlamp
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`k8s.karkki.org`)
      kind: Rule
      services:
        - name: headlamp
          port: 80
